body {
  min-height: 75rem;

  // remove blue border
  .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus,
  .btn.active:focus, .btn.active.focus, button.dropdown-item:focus {
    outline: none;
  }

  font-family: 'Roboto Condensed', sans-serif;
  background-color: #FAFAFA;
}
