@import "../variables";

@include media-breakpoint-up(md) {
  .container-home {
    top: -54px;
    position: relative;
  }
}

.container-home {
  .slick-slider {
    .img-carousel {
      width: 100%;
    }
    .slick-dots {
      bottom: 10px;
    }
  }

  .section-gallery {
    text-align: center;
    .card-img-top {
      width: 100%;
    }
  }
}
