@import "../variables";

@include media-breakpoint-up(md) {
  .container-home {
    section.header {
      top: -54px;
      position: relative;
    }
  }
}

.container-home {
  text-align: center;

  section.header {
    .slick-slider {
      .img-carousel {
        width: 100%;
      }
      .slick-dots {
        bottom: 10px;
      }
    }

    font-family: 'Gloria Hallelujah', cursive;
  }

  section.gallery {
    .card-img-top {
      width: 100%;
    }
  }

  section.contact {
    > div:nth-child(2) {
      height: 450px !important;
      .place > img {
        width: 2em;
      }
    }
  }

  footer {
    margin: 0.5em 0;
    img {
      width: 2em;
      opacity: 0.6;
    }
  }

  hr {
    width: 50%;
  }

}
